##pwd: /dep*/bio*/Pers*_Dir*/xie*/pro*/ViewBS_*/ViewBS
## /home/xie186/mai*****A/software/ViewBS_v0.1.5 
## Generate TOC 
#~/software/gh-md-toc README.md
#/media/xie*/e*/WIC/n*_p*_meth/scripts/ViewBS
## conda env export -n env_ViewBS --no-builds |grep -v 'prefix' | cut -f1 -d "=" > environment.yaml


############Update checklist ###################
#1. Docker
#2. Bioconda
#3. Version infor

*.simg
test.sh
.dir_bash_history*
ViewBS_testdata/




