[submodule "ViewBSdocer"]
	path = ViewBSdocker
	url = https://github.com/xie186/ViewBSdocker


##hint:   git submodule add <url> ViewBSdocker
#hint:
#hint: If you added this path by mistake, you can remove it from the
#hint: index with:
#hint:
#hint:   git rm --cached ViewBSdocker
